html
    head
        title hello world
    body
        h1.title hello world title
        a(href="#") this is a link
        ul
            each user in users
                li= user.name + ' ' + user.age + ' tuổi' + test;
            